@import './base.css';

#app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    height: 100vh;
    min-height: 500px;
    font-weight: normal;
}

section {
    height: calc(100% - 55px);
}

/*a, h1, h2, h3, h4, h5, h6, p, label {*/
/*    color: var(--main-text);*/
/*}*/
* {
    color: var(--main-text);
}
a {
    text-decoration: none;
    color: var(--main-text);
    transition: 0.4s;
    margin: 8px;
    padding: 4px;
}




@media (min-width: 1024px) {
    header {
        padding: 1rem;
    }
    section {
        height: calc(100% - 90px);
    }
    #app {
        padding: 0.3rem;
    }
}

@media (max-width: 600px) {

    #app {
        padding: 0.5rem;
    }

}