@import './base.css';

#app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

/*a, h1, h2, h3, h4, h5, h6, p, label {*/
/*    color: var(--main-text);*/
/*}*/
* {
    color: var(--main-text);
}
a {
    text-decoration: none;
    color: var(--main-text);
    transition: 0.4s;
    margin: 8px;
    padding: 4px;
}




@media (min-width: 1024px) {

    #app {
        padding: 0.3rem;
    }
}

@media (max-width: 600px) {

    #app {
        padding: 0.5rem;
    }
}